@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-space;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .container {
    @apply px-4 lg:px-0;
  }

  .caseStudy:not(:last-child)::before {
    background-color: #fff;
    border-radius: 20px;
    content: '';
    height: 100%;
    position: absolute;
    right: -23%;
    top: 0;
    transform: translate(23%);
    width: 2px;
  }
}
