@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-space;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .container {
    @apply px-4 lg:px-0;
  }

  .caseStudy:not(:last-child)::before {
    background-color: #fff;
    border-radius: 20px;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    right: 1%;
    transform: translate(1%);
    width: 2px;
  }
  @media screen and (min-width: 1280px) {
    .caseStudy:not(:last-child)::before {
      right: -23%;
      transform: translate(23%);
    }
  }
}
.testimonial {
  background-image: url('../assets/bubble_mobile.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .testimonial {
    background-image: url('../assets/bubble.png');
    background-size: cover;
  }
}
.swiper-pagination {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  bottom: 3rem !important;
}
.pagination-bullet {
  display: block;
  height: 14px;
  width: 14px;
  background-image: url('../assets/carousel_star.svg') !important;
  background-size: cover;
}
.pagination-bullet-active {
  background-image: url('../assets/carousel_star-active.svg') !important;
}

.arrow {
  position: absolute;
  bottom: 3rem;
  transform: translateX(-25%);
  z-index: 1;
  cursor: pointer;
}
.arrow-left {
  left: 25%;
}
.arrow-right {
  right: 25%;
}
